<h2 mat-dialog-title>Add word</h2>
<mat-dialog-content class="mat-typography content">
  @if (loading()) {
  <mat-spinner class="page-loading"></mat-spinner>
  } @else {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Word</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="field">
        <mat-label>Type</mat-label>
        <input matInput type="text" [(ngModel)]="type" />
      </mat-form-field>
      <div class="word">
        <mat-form-field class="field">
          <mat-label>German</mat-label>
          <input matInput type="text" [(ngModel)]="word" />
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>Hungarian</mat-label>
          <input matInput type="text" [(ngModel)]="hungarianTranslation" />
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>Swiss German</mat-label>
          <input matInput type="text" [(ngModel)]="swissGermanTranslation" />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Forms</mat-card-title>
    </mat-card-header>
    <mat-card-content class="forms">
      @for (form of forms; track $index) {
      <mat-form-field class="field">
        <input matInput type="text" [(ngModel)]="form" />
      </mat-form-field>
      }
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Examples</mat-card-title>
    </mat-card-header>
    <mat-card-content class="examples">
      @for (example of examples; track $index) {
      <mat-form-field class="field">
        <mat-label>German</mat-label>
        <input matInput type="text" [(ngModel)]="example" />
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Hungarian</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="exampleHungarianTranslations[$index]"
        />
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Swiss German</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="exampleSwissGermanTranslations[$index]"
        />
      </mat-form-field>
      }
    </mat-card-content>
  </mat-card>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
