<h2 mat-dialog-title>Creating Cards</h2>

<mat-dialog-content class="dialog-content">
  <app-dot-reporter name="Collecting data" [dots]="bulkCardService.phase1Progress()" />

  @if (bulkCardService.phase2Progress().length > 0) {
    <app-dot-reporter name="Generating images" [dots]="bulkCardService.phase2Progress()" />
  }
</mat-dialog-content>

@if (!bulkCardService.isCreating()) {
<mat-dialog-actions align="end">
  <a mat-button color="primary" routerLink="/in-review-cards" (click)="closeDialog()">
    Review
  </a>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
}
