services:

  app:
    build: .
    user: "${USER_ID}:${GROUP_ID}"
    environment:
      SPRING_ACTUATOR_PORT: "8082"
      SPRING_PROFILES_ACTIVE: "test"
      DB_HOSTNAME: "db"
      DB_PORT: "5432"
      DB_NAME: "test"
      DB_USERNAME: "postgres"
      DB_PASSWORD: "postgres"
      STORAGE_DIRECTORY: "/app/storage"
      OPENAI_API_KEY: "mock-key"
      OPENAI_BASE_URL: "http://mock-openai:3000"
      GOOGLE_AI_API_KEY: "mock-google-key"
      GOOGLE_AI_BASE_URL: "http://mock-google-ai:3001"
      ELEVEN_LABS_API_KEY: "mock-elevenlabs-key"
      ELEVEN_LABS_BASE_URL: "http://mock-elevenlabs:3002"
    ports:
      - "8180:8080"
    volumes:
      - ./test/storage:/app/storage
    healthcheck:
      test: "curl --fail --silent localhost:8082/actuator/health/readiness | grep UP || exit 1"
      interval: 2s
      retries: 10
      start_period: 16s
    depends_on:
      - db
      - mock-openai
      - mock-google-ai
      - mock-elevenlabs

  db:
    image: "postgres:16.2-bullseye"
    environment:
      POSTGRES_DB: "test"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
    ports:
      - "5460:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  mock-openai:
    build:
      context: mock_openai_server
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
    healthcheck:
      test: "curl --fail --silent localhost:3000/health || exit 1"
      interval: 2s
      timeout: 3s
      retries: 5
      start_period: 2s

  mock-google-ai:
    build:
      context: mock_google_ai_server
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
    healthcheck:
      test: "curl --fail --silent localhost:3001/health || exit 1"
      interval: 2s
      timeout: 3s
      retries: 5
      start_period: 2s

  mock-elevenlabs:
    build:
      context: mock_elevenlabs_server
    ports:
      - "3002:3002"
    environment:
      PORT: 3002
    healthcheck:
      test: "curl --fail --silent localhost:3002/health || exit 1"
      interval: 2s
      timeout: 3s
      retries: 5
      start_period: 2s
