# To update: pip list --outdated
azure-identity==1.21.0
azure-storage-blob==12.25.0
cachetools==5.5.2
fastapi==0.115.11
fastapi-azure-auth==5.1.0
fsrs==5.1.2
jinja2==3.1.6
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.45
langchain-openai==0.3.8
openai==1.66.3
psycopg[binary]==3.2.6
pydantic==2.10.6
PyMuPDF==1.25.4
python-dotenv==1.0.1
SQLAlchemy==2.0.39
uvicorn==0.34.0