storage:
  directory: ${STORAGE_DIRECTORY}
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show-sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  cloud:
    azure:
      active-directory:
        enabled: true
        profile:
          tenant-id: ${AZURE_TENANT_ID}
        credential:
          client-id: ${AZURE_CLIENT_ID}
management:
  server:
    port: ${SPRING_ACTUATOR_PORT}
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
langsmith:
  enabled: true
  apiKey: ${LANGSMITH_API_KEY:}
  apiUrl: https://api.smith.langchain.com
  project: learn-language
openai:
  apiKey: ${OPENAI_API_KEY}
google:
  ai:
    apiKey: ${GOOGLE_AI_API_KEY}
elevenlabs:
  apiKey: ${ELEVEN_LABS_API_KEY}
  baseUrl: https://api.elevenlabs.io

