storage:
  directory: ${STORAGE_DIRECTORY}
spring:
  datasource:
    url: ${db-url}
    username: ${db-username}
    password: ${db-password}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show-sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  cloud:
    azure:
      keyvault:
        secret:
          property-sources:
            - endpoint: https://p06-learn-language.vault.azure.net/
              enabled: true
      active-directory:
        enabled: true
        profile:
          tenant-id: ${tenant-id}
        credential:
          client-id: ${api-client-id}
  ai:
    openai:
      api-key: ${openai-api-key}
    anthropic:
      api-key: ${anthropic-api-key}
    elevenlabs:
      api-key: ${eleven-labs-api-key}
      tts:
        options:
          model: eleven_turbo_v2_5
          output-format: mp3_44100_128
server:
  servlet:
    context-path: /api
management:
  server:
    port: ${SPRING_ACTUATOR_PORT}
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
google:
  ai:
    apiKey: ${google-ai-api-key}
