storage:
  directory: ./storage
spring:
  docker:
    compose:
      enabled: true
      file: ./compose.yaml
  datasource:
    url: jdbc:postgresql://localhost:5433/learnlanguage
    username: postgres
    password: postgres
  cloud:
    azure:
      active-directory:
        profile:
          tenant-id: ${AZURE_TENANT_ID}
        credential:
          client-id: ${AZURE_CLIENT_ID}
          client-secret: ${AZURE_CLIENT_SECRET}
management:
  server:
    port: 8082
