storage:
  directory: ${STORAGE_DIRECTORY}
spring:
  datasource:
    url: ${db-url}
    username: ${db-username}
    password: ${db-password}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show-sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  cloud:
    azure:
      keyvault:
        secret:
          property-sources:
            - endpoint: https://p06-learn-language.vault.azure.net/
              enabled: false
      active-directory:
        enabled: true
        profile:
          tenant-id: ${tenant-id}
        credential:
          client-id: ${api-client-id}
server:
  servlet:
    context-path: /api
management:
  server:
    port: ${SPRING_ACTUATOR_PORT}
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
langsmith:
  enabled: true
  apiKey: ${langsmith-api-key:}
  apiUrl: https://api.smith.langchain.com
  project: learn-language
openai:
  apiKey: ${openai-api-key}
google:
  ai:
    apiKey: ${google-ai-api-key}
elevenlabs:
  apiKey: ${eleven-labs-api-key}
  baseUrl: https://api.elevenlabs.io
