[Unit]
Description=Mock Google AI server

[Container]
ContainerName=mock-google-ai
Image=localhost/learn-language-mock-google-ai:test
Pod=learn-language-test.pod
Environment=PORT=3001
HealthCmd=curl --fail --silent localhost:3001/health || exit 1
HealthInterval=2s
HealthTimeout=3s
HealthRetries=5
HealthStartPeriod=2s

[Install]
WantedBy=default.target
