@if (card.isLoading()) {
<mat-spinner class="page-loading" />
} @else {
<div class="flashcard-container" (click)="toggleReveal()">
  <div class="flashcard" [class.revealed]="isRevealed()">
    <div class="content">
      <h2>{{ word() }}</h2>
      @if (card.value()?.type) {
      <p class="type">{{ card.value()?.type }}</p>
      }
      <div class="forms">
        <p>{{ forms()?.join(", ") }}</p>
      </div>
      <div class="example">
        <p>{{ example() }}</p>
      </div>

      <div class="image-gallery">
        @for (imageResource of exampleImages(); track $index) { @if
        (imageResource.value()?.url) {
        <img [src]="imageResource.value()?.url" [alt]="example()" />
        } @else if (imageResource.isLoading()) {
        <div class="image-loading">
          <mat-spinner diameter="40" />
        </div>
        } }
      </div>
    </div>

    <div class="hint">
      <mat-icon>touch_app</mat-icon>
      <span>Tap to {{ isRevealed() ? "hide" : "reveal" }}</span>
    </div>
  </div>
</div>
}
