@if (card.isLoading()) {
<div class="flashcard-container">
  <div class="flashcard">
    <div class="image-section">
      <div class="image-gallery">
        <div class="skeleton"></div>
      </div>
    </div>
    <div class="content-section">
      <div class="word-section">
        <div
          class="skeleton"
          style="height: 2.5rem; width: 200px; margin: 0 auto"
        ></div>
        <div
          class="skeleton"
          style="height: 24px; width: 80px; margin: 1rem auto 0"
        ></div>
      </div>
      <div class="details-section">
        <div class="forms">
          <div class="skeleton" style="height: 1.1rem; width: 80%"></div>
        </div>
        <div class="example">
          <div class="skeleton" style="height: 1.2rem; width: 90%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="flashcard-container">
  <div
    class="flashcard"
    [class.revealed]="isRevealed()"
    (click)="toggleReveal()"
  >
    <div class="image-section">
      @if (exampleImages().length > 0) {
      <div class="image-gallery">
        @for (imageResource of exampleImages(); track $index) { @if
        (imageResource.value()?.url) {
        <img
          [src]="imageResource.value()?.url"
          [alt]="example()"
          class="flashcard-image"
        />
        } @else if (imageResource.isLoading()) {
        <div class="skeleton"></div>
        } }
      </div>
      }
    </div>

    <div class="content-section">
      <div class="word-section">
        @if (card.value()?.type) {
        <div class="type-chip">
          <mat-chip-set>
            <mat-chip >{{ card.value()?.type }}</mat-chip>
          </mat-chip-set>
        </div>
        }
        <h2>{{ word() }}</h2>
      </div>

      @if (forms()?.length) {
      <div class="forms">
        <p class="centered-text">{{ forms()?.join(", ") }}</p>
      </div>
      }
      <div class="example">
        <p class="centered-text">{{ example() }}</p>
      </div>
    </div>
  </div>

  @if (isRevealed()) {
  <div class="grading-buttons">
    <button mat-raised-button class="grade-again" (click)="gradeCard('Again')">
      <mat-icon>replay</mat-icon>
      Again
    </button>
    <button mat-raised-button class="grade-hard" (click)="gradeCard('Hard')">
      <mat-icon>south</mat-icon>
      Hard
    </button>
    <button mat-raised-button class="grade-good" (click)="gradeCard('Good')">
      <mat-icon>check</mat-icon>
      Good
    </button>
    <button mat-raised-button class="grade-easy" (click)="gradeCard('Easy')">
      <mat-icon>north</mat-icon>
      Easy
    </button>
  </div>
  }
</div>
}
