@if (isLoading()) {
  <div class="image-section">
    <div class="image-gallery">
      <div class="skeleton"></div>
    </div>
  </div>
  <div class="content-section">
    <div class="word-section">
      <div
        class="skeleton"
        style="height: 2.5rem; width: 200px; margin: 0 auto"
      ></div>
      <div
        class="skeleton"
        style="height: 24px; width: 80px; margin: 1rem auto 0"
      ></div>
    </div>
    <div class="details-section">
      <div class="forms">
        <div class="skeleton" style="height: 1.1rem; width: 80%"></div>
      </div>
      <div class="example">
        <div class="skeleton" style="height: 1.2rem; width: 90%"></div>
      </div>
    </div>
  </div>
} @else {
  <div class="image-section">
    @if (exampleImages().length > 0) {
    <div class="image-gallery">
      @for (imageResource of exampleImages(); track $index) { @if
      (imageResource.value()?.url) {
      <img
        [src]="imageResource.value()?.url"
        [alt]="example()"
        class="learn-card-image"
      />
      } @else if (imageResource.isLoading()) {
      <div class="skeleton"></div>
      } }
    </div>
    }
  </div>

  <div class="content-section">
    <div class="chips-corner">
      @if (wordTypeInfo()) {
      <div
        class="word-type-chip"
        [style.background-color]="wordTypeInfo()?.color"
      >
        {{ wordTypeInfo()?.translation }}
      </div>
      } @let state = card()?.value()?.state; @if (state !== undefined) {
      <app-state [state]="state" />
      }
    </div>
    
    <div class="word-section">
      <h2 [style.color]="genderInfo()?.color">{{ word() }}</h2>
    </div>

    @if(genderInfo(); as genderInfo) {
    <span class="sr-only">Gender: {{ genderInfo.translation }}</span>
    } @if (forms()?.length) {
    <div class="forms">
      <p class="centered-text">{{ forms()?.join(", ") }}</p>
    </div>
    }
    <div class="example">
      <p class="centered-text">{{ example() }}</p>
    </div>
  </div>
}