<div class="page-nav">
  <button bt bt-dropdown popovertarget="dropdown-menu-popover">
    {{ sourceName() }}
    <svg></svg>
  </button>
  <div popover bt id="dropdown-menu-popover" #popover>
    <ul bt-dropdown-menu>
      @for (source of sources(); track source.id) {
      <li>
        <a
          [routerLink]="['/sources', source.id, 'page', source.startPage]"
          (click)="popover.hidePopover()"
          >{{ source.name }}</a
        >
      </li>
      }
    </ul>
  </div>
  <a bt [routerLink]="['/sources', sourceId(), 'page', pageNumber() - 1]"
    >Back</a
  >
  <label bt
    ><input type="number" bt [(ngModel)]="pageNumber" (change)="onPageChange()"
  /></label>
  <a bt [routerLink]="['/sources', sourceId(), 'page', pageNumber() + 1]"
    >Next</a
  >
</div>
@if (loading()) {
<div role="progressbar" bt></div>
} @else {
<section class="page-layout">
  @for (column of columns(); track $index) {
  <app-column
    [type]="column.type"
    [bbox]="column.bbox"
    [avgWordsPerSpan]="column.avgWordsPerSpan"
  ></app-column>
  } @for (word of words(); track $index) {
  <app-word
    [bbox]="word.bbox"
    [text]="word.text"
    [exampleSentences]="word.exampleSentences"
  ></app-word>
  } @for (span of spans(); track $index) {
  <app-span
    [text]="span.text"
    [bbox]="span.bbox"
    [font]="span.font"
    [color]="span.color"
    [fontSize]="span.fontSize"
    [excluded]="span.excluded"
  ></app-span>
  }
</section>
}
