.page-nav {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
}

.page-layout {
  position: relative;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-loading {
  margin: 150px auto;
}

.area-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
