@if (isLoading()) {
  <mat-spinner class="page-loading" />
} @else {
  <h2 class="title">
    {{ getCardTypeTitle() }}
    <span class="title-spacer"></span>
    @if (card.value()) {
      <button
        mat-icon-button
        color="red"
        (click)="confirmDeleteCard()"
        aria-label="Delete card"
      >
        <mat-icon>delete</mat-icon>
      </button>
      @if (isFlagged()) {
        <button
          type="button"
          mat-flat-button
          (click)="removeFlag()"
          aria-label="Remove flag"
        >
          <mat-icon>flag_off</mat-icon>
          Remove flag
        </button>
      }
      @if (isInReview()) {
        <button
          type="button"
          mat-flat-button
          (click)="markAsReviewed()"
          [disabled]="!canMarkAsReviewed()"
        >
          Mark as reviewed
        </button>
      }
      <button type="button" mat-flat-button (click)="saveCard()">
        Update
      </button>
    }
  </h2>

  @switch (getCardType()) {
    @case ('vocabulary') {
      <app-edit-vocabulary-card
        [selectedCardId]="selectedCardId()"
        [selectedSourceId]="selectedSourceId()"
        [selectedPageNumber]="selectedPageNumber()"
        [card]="card.value()"
        (cardUpdate)="handleCardUpdate($event)"
        (saveRequested)="saveCard()"
        (markAsReviewedAvailable)="markAsReviewedAvailable.set($event)"
      />
    }
    @case ('speech') {
      <app-edit-speech-card
        [selectedCardId]="selectedCardId()"
        [selectedSourceId]="selectedSourceId()"
        [selectedPageNumber]="selectedPageNumber()"
        [card]="card.value()"
        (cardUpdate)="handleCardUpdate($event)"
        (saveRequested)="saveCard()"
        (markAsReviewedAvailable)="markAsReviewedAvailable.set($event)"
      />
    }
    @case ('grammar') {
      <app-edit-grammar-card
        [selectedCardId]="selectedCardId()"
        [selectedSourceId]="selectedSourceId()"
        [selectedPageNumber]="selectedPageNumber()"
        [card]="card.value()"
        (cardUpdate)="handleCardUpdate($event)"
        (saveRequested)="saveCard()"
        (markAsReviewedAvailable)="markAsReviewedAvailable.set($event)"
      />
    }
  }
}
