@if (isLoading()) {
  <mat-spinner class="page-loading" />
} @else {
  <div class="top-actions">
    <a mat-icon-button [routerLink]="backNavigationUrl()" aria-label="Go back">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>
  <h2 class="title">
    {{ getCardTypeTitle() }}
    @if (card.value()) {
      <button
        mat-icon-button
        color="red"
        (click)="confirmDeleteCard()"
        aria-label="Delete card"
      >
        <mat-icon>delete</mat-icon>
      </button>
      @if (isInReview()) {
        <button
          type="button"
          mat-flat-button
          (click)="markAsReviewed()"
          [disabled]="!canMarkAsReviewed()"
        >
          Mark as reviewed
        </button>
      }
      <button type="button" mat-flat-button (click)="saveCard()">
        Update
      </button>
    }
  </h2>

  @switch (getCardType()) {
    @case ('vocabulary') {
      <app-edit-vocabulary-card
        [selectedCardId]="selectedCardId()"
        [selectedSourceId]="selectedSourceId()"
        [selectedPageNumber]="selectedPageNumber()"
        [card]="card.value()"
        (cardUpdate)="handleCardUpdate($event)"
        (saveRequested)="saveCard()"
        (markAsReviewedAvailable)="markAsReviewedAvailable.set($event)"
      />
    }
    @case ('speech') {
      <app-edit-speech-card
        [selectedCardId]="selectedCardId()"
        [selectedSourceId]="selectedSourceId()"
        [selectedPageNumber]="selectedPageNumber()"
        [card]="card.value()"
        (cardUpdate)="handleCardUpdate($event)"
        (saveRequested)="saveCard()"
        (markAsReviewedAvailable)="markAsReviewedAvailable.set($event)"
      />
    }
    @case ('grammar') {
      <app-edit-grammar-card
        [selectedCardId]="selectedCardId()"
        [selectedSourceId]="selectedSourceId()"
        [selectedPageNumber]="selectedPageNumber()"
        [card]="card.value()"
        (cardUpdate)="handleCardUpdate($event)"
        (saveRequested)="saveCard()"
        (markAsReviewedAvailable)="markAsReviewedAvailable.set($event)"
      />
    }
  }
}
