<div class="source-selector-container">
  @if(loading()) {
  <div class="loading-placeholder"></div>
  } @else { @if(selectedSourceId() && mode() === 'study') {
  <div class="stats-container">
    @for (dueCount of getDueCounts(selectedSourceId()!); track dueCount.state) {
    <app-state [state]="dueCount.state" [count]="dueCount.count" />
    }
  </div>
  }
  <button mat-stroked-button [matMenuTriggerFor]="menu">
    {{ selectedSourceName() }}
  </button>
  <mat-menu #menu="matMenu">
    @for (source of sources(); track source.id) { @if(mode() === 'study') {
    <a mat-menu-item [routerLink]="['/sources', source.id, 'study']">
      <span class="source-link">
        {{ source.name }}
        @for (dueCount of getDueCounts(source.id); track dueCount.state) {
        <app-state [state]="dueCount.state" [count]="dueCount.count" />
        }
      </span>
    </a>
    } @else {
    <a
      mat-menu-item
      [routerLink]="['/sources', source.id, 'page', source.startPage]"
    >
      {{ source.name }}
    </a>
    } }
  </mat-menu>
  }
</div>
