<div class="source-selector-container">
  @if(loading()) {
  <div class="loading-placeholder"></div>
  } @else { @if(selectedSourceId() && mode() === 'study') {
  <div class="stats-container">
    @for (dueCount of getDueCounts(selectedSourceId()!); track dueCount.state) {
    <app-state [state]="dueCount.state" [count]="dueCount.count" />
    }
  </div>
  }
  <button mat-stroked-button [matMenuTriggerFor]="menu">
    {{ selectedSourceName() }}
  </button>
  <mat-menu #menu="matMenu">
    @for (source of sources(); track source.id) {
    <a mat-menu-item [routerLink]="getSourceLink(source)">
      <span class="source-link">
        {{ source.name }}
        @if (mode() === 'study') {
          @for (dueCount of getDueCounts(source.id); track dueCount.state) {
          <app-state [state]="dueCount.state" [count]="dueCount.count" />
          }
        }
      </span>
    </a>
    }
  </mat-menu>
  }
</div>
