@if (!matches.length || !exists()) {
<div
  class="word"
  exclude-selection
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [class.exists]="exists()"
  [class.matches]="matches.length > 0"
  [ariaDescription]="ariaDescription"
>
  {{ text() }}
</div>

} @else if (matches.length === 1) {
<a
  class="word"
  mat-flat-button
  [routerLink]="['/sources', sourceId(), 'page', pageNumber(), 'cards', matches[0].id]"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [class.exists]="exists()"
  [ariaDescription]="ariaDescription"
>
  {{ text() }}
</a>
} @else {
<button
  class="word"
  mat-flat-button
  type="button"
  [matMenuTriggerFor]="menu"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [class.exists]="exists()"
  [ariaDescription]="ariaDescription"
>
  {{ text() }}
</button>
<mat-menu #menu="matMenu">
  @for (match of matches; track match.id) {
  <a
    mat-menu-item
    [routerLink]="['/sources', sourceId(), 'page', pageNumber(), 'cards', match.id]"
  >
    {{ getItemLabel(match) }}
  </a>
  }
</mat-menu>
}
