@if (!matches?.length) {
<div
  class="word"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [matTooltip]="getTooltipText()"
  matTooltipClass="multiline-tooltip"
  matTooltipShowDelay="300"
>
  <span>{{ text }}</span>
</div>

} @else if (matches?.length === 1) {
<button
  class="word"
  mat-flat-button
  type="button"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [matTooltip]="getTooltipText()"
  matTooltipClass="multiline-tooltip"
  matTooltipShowDelay="300"
>
  <span>{{ text }}</span>
</button>
} @else {
<button
  class="word"
  mat-flat-button
  type="button"
  [matMenuTriggerFor]="menu"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [matTooltip]="getTooltipText()"
  matTooltipClass="multiline-tooltip"
  matTooltipShowDelay="300"
>
  <span>{{ text }}</span>
  <svg></svg>
</button>
<mat-menu #menu="matMenu">
  @for (match of matches; track match.word) {
  <button type="button" mat-menu-item>{{ match.word }}</button>
  }
</mat-menu>
}
