@if (inline()) {
  @if (error()) {
  <div
    class="word error"
    role="status"
    exclude-selection
    [style.left]="left()"
    [style.top]="top()"
    [style.width]="width()"
    [style.height]="height()"
    [ariaDescription]="ariaDescription"
  >
    {{ label() }}
  </div>
  } @else if (exists()) {
  <a
    class="word"
    mat-flat-button
    [routerLink]="['/sources', sourceId(), 'page', pageNumber(), 'cards', cardId()]"
    [style.left]="left()"
    [style.top]="top()"
    [style.width]="width()"
    [style.height]="height()"
    [ariaDescription]="ariaDescription"
  >
    {{ label() }}
  </a>
  } @else if (warning()) {
  <button
    class="word warning"
    mat-flat-button
    exclude-selection
    [matMenuTriggerFor]="contextMenu"
    [style.left]="left()"
    [style.top]="top()"
    [style.width]="width()"
    [style.height]="height()"
    [ariaDescription]="ariaDescription"
  >
    {{ label() }}
  </button>
  <mat-menu #contextMenu="matMenu">
    <button mat-menu-item (click)="removed.emit()">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
  } @else {
  <div
    class="word"
    exclude-selection
    [style.left]="left()"
    [style.top]="top()"
    [style.width]="width()"
    [style.height]="height()"
    [ariaDescription]="ariaDescription"
  >
    {{ label() }}
  </div>
  }
} @else {
  @if (exists()) {
  <a
    mat-menu-item
    [routerLink]="['/sources', sourceId(), 'page', pageNumber(), 'cards', cardId()]"
    [ariaDescription]="ariaDescription"
  >
    {{ label() }}
  </a>
  } @else if (warning()) {
  <button mat-menu-item [ariaDescription]="ariaDescription" [class.warning]="warning()" (click)="removed.emit()">
    <mat-icon>delete</mat-icon>
    <span>{{ label() }}</span>
  </button>
  } @else {
  <div mat-menu-item [ariaDescription]="ariaDescription">
    {{ label() }}
  </div>
  }
}
