.word {
  position: absolute;
  display: flex;
  text-align: initial;
  justify-content: flex-start;
  align-items: center;
  padding: initial !important;
  border-radius: initial !important;
  outline: 1px solid var(--outline, darkslategray);
  outline-offset: 2px;
}
