:host {
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.word) {
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid green;
  }

  &.word {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
  }
}
