.word {
  position: absolute;
  display: flex;
  text-align: initial;
  justify-content: flex-start;
  align-items: center;
  padding: initial !important;
  border-radius: initial !important;
}

.word:not(a) {
  outline: 1px solid hsl(200, 50%, 50%);
  outline-offset: 2px;
}

a.word {
  outline: 3px solid var(--mat-sys-primary);
}
