.word {
  position: absolute;
  display: flex;
  text-align: initial;
  justify-content: flex-start;
  align-items: center;
  padding: initial !important;
  border-radius: initial !important;
}

.word:not(a) {
  outline: 2px solid var(--mat-sys-primary);
  outline-offset: 1px;
}

.word.warning {
  outline-color: #f9a825;
}

a.word {
  outline: 3px solid var(--mat-sys-primary);
}

.word.error {
  outline: 2px solid var(--mat-sys-error);
  outline-offset: 1px;
  color: var(--mat-sys-error);
}
