@if (!existingMatches.length) {
<div
  class="word"
  exclude-selection
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [class.exists]="exists()"
  [ariaDescription]="ariaDescription"
>
  {{ text() }}
</div>

} @else if (existingMatches.length === 1) {
<a
  class="word"
  mat-flat-button
  [routerLink]="['/sources', sourceId(), 'page', pageNumber(), 'cards']"
  [queryParams]="{cardData: (existingMatches[0] | compressQuery | async)}"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [class.exists]="exists()"
  [ariaDescription]="ariaDescription"
>
  {{ text() }}
</a>
} @else {
<button
  class="word"
  mat-flat-button
  type="button"
  [matMenuTriggerFor]="menu"
  [style.left]="left"
  [style.top]="top"
  [style.width]="width"
  [style.height]="height"
  [class.exists]="exists()"
  [ariaDescription]="ariaDescription"
>
  {{ text() }}
</button>
<mat-menu #menu="matMenu">
  @for (match of existingMatches; track match.word) {
  <a
    mat-menu-item
    [routerLink]="['/sources', sourceId(), 'page', pageNumber(), 'cards']"
    [queryParams]="{cardData: (match | compressQuery | async)}"
  >
    {{ match.word }}
  </a>
  }
</mat-menu>
}
