:root {
  display: grid;
  gap: 1rem;
}

.field {
  width: 100%;
}

.sentence {
  display: grid;
  gap: 1rem;
}

.images-section {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.actions {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-rows: min-content;
  gap: 16px;
}

app-image-carousel {
  grid-row: 1;
  grid-column: 2;
  max-width: 400px;
}
