:root {
  display: grid;
  gap: 1rem;
}

.top-actions {
  margin-bottom: 1rem;
}

.title {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 1rem;
}

.field {
  width: 100%;
}

.word,
.forms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.example {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.example-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.example-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.page-loading {
  margin: 150px auto;
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: darkred;
}

.word-type-option {
  padding: 0.25rem 0.75rem;
  border-radius: 16px;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
