<div class="card-actions">
  <button
    mat-icon-button
    class="action-button"
    (click)="openVoiceSelection($event)"
    title="Voice Selection"
    matTooltip="Voice Selection">
    <mat-icon>record_voice_over</mat-icon>
  </button>
  <button
    mat-icon-button
    class="action-button"
    (click)="markForReview($event)"
    title="Mark for Review"
    matTooltip="Mark for Review">
    <mat-icon>flag</mat-icon>
  </button>
  <a
    mat-icon-button
    class="action-button"
    [routerLink]="['/sources', card()?.value()?.source?.id, 'page', card()?.value()?.sourcePageNumber, 'cards']"
    [queryParams]="{cardData: ({id: card()?.value()?.id, exists: true} | compressQuery | async)}"
    (click)="$event.stopPropagation()"
    title="Edit Card"
    matTooltip="Edit Card">
    <mat-icon>edit</mat-icon>
  </a>
</div>
