<div class="grading-buttons">
  <button mat-raised-button class="grade-again" (click)="gradeCard('Again')">
    <mat-icon>replay</mat-icon>
    Again
  </button>
  <button mat-raised-button class="grade-hard" (click)="gradeCard('Hard')">
    <mat-icon>south</mat-icon>
    Hard
  </button>
  <button mat-raised-button class="grade-good" (click)="gradeCard('Good')">
    <mat-icon>check</mat-icon>
    Good
  </button>
  <button mat-raised-button class="grade-easy" (click)="gradeCard('Easy')">
    <mat-icon>north</mat-icon>
    Easy
  </button>
</div>
