@if (loading()) {
<mat-spinner class="page-loading"></mat-spinner>
} @else {
<h5 class="title">
  Word @if (card()) {
  <button mat-icon-button color="red" (click)="confirmDeleteCard()">
    <mat-icon>delete</mat-icon>
  </button>
  <button type="button" mat-flat-button (click)="updateCard()">Update</button>
  } @else {
  <button type="button" mat-flat-button (click)="createCard()">Create</button>
  }
</h5>
<mat-form-field class="field">
  <mat-label>Type</mat-label>
  <input matInput type="text" [(ngModel)]="type.value" aria-label="Word type" />
</mat-form-field>
<div class="word">
  <mat-form-field class="field">
    <mat-label>German</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="word"
      aria-label="German translation"
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Hungarian</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="translation['hu']"
      aria-label="Hungarian translation"
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Swiss German</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="translation['ch']"
      aria-label="Swiss German translation"
    />
  </mat-form-field>
</div>
<h5>Forms</h5>
<div class="forms">
  @for (form of forms(); track $index) {
  <mat-form-field class="field">
    <input matInput type="text" [(ngModel)]="form" aria-label="Form" />
  </mat-form-field>
  }
</div>
<h5>Examples</h5>
<mat-radio-group [(ngModel)]="selectedExampleIndex">
  @for (example of examples(); track $index) {
  <div class="example">
    <div class="actions">
      <mat-radio-button [value]="$index"></mat-radio-button>
      <button mat-icon-button (click)="exampleImages()[$index].reload()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <mat-form-field class="field">
      <mat-label>German</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="example"
        aria-label="Example in German"
      />
    </mat-form-field>
    @if(examplesTranslations(); as examplesTranslations) {
    <mat-form-field class="field">
      <mat-label>Hungarian</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="examplesTranslations['hu'][$index]"
        aria-label="Example in Hungarian"
      />
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Swiss German</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="examplesTranslations['ch'][$index]"
        aria-label="Example in Swiss German"
      />
    </mat-form-field>
    <div class="image">
      @if (exampleImages()[$index]) { @if (exampleImages()[$index].isLoading())
      {
      <div class="skeleton"></div>
      } @else if (exampleImages()[$index].value()) {
      <img src="{{ exampleImages()[$index].value() }}" [alt]="example()" />
      } } @else {
      <mat-icon>image_not_supported</mat-icon>
      }
    </div>
    }
  </div>
  }
</mat-radio-group>
}
