:root {
  display: grid;
  gap: 1rem;
}

.field {
  width: 100%;
}

.word,
.forms,
.examples {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.page-loading {
  margin: 150px auto;
}
