@if (loading()) {
<mat-spinner class="page-loading"></mat-spinner>
} @else {
<h5 class="title">
  Word
  <button type="button" mat-flat-button (click)="createCard()">Create card</button>
</h5>
<mat-form-field class="field">
  <mat-label>Type</mat-label>
  <input matInput type="text" [(ngModel)]="type.value" />
</mat-form-field>
<div class="word">
  <mat-form-field class="field">
    <mat-label>German</mat-label>
    <input matInput type="text" [(ngModel)]="word" />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Hungarian</mat-label>
    <input matInput type="text" [(ngModel)]="translation['hu']" />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Swiss German</mat-label>
    <input matInput type="text" [(ngModel)]="translation['ch']" />
  </mat-form-field>
</div>
<h5>Forms</h5>
<div class="forms">
  @for (form of forms(); track $index) {
  <mat-form-field class="field">
    <input matInput type="text" [(ngModel)]="form" />
  </mat-form-field>
  }
</div>
<h5>Examples</h5>
@for (example of examples(); track $index) {
<div class="example">
  <mat-form-field class="field">
    <mat-label>German</mat-label>
    <input matInput type="text" [(ngModel)]="example" />
  </mat-form-field>
  @if(examplesTranslations(); as examplesTranslations) {
  <mat-form-field class="field">
    <mat-label>Hungarian</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="examplesTranslations['hu'][$index]"
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Swiss German</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="examplesTranslations['ch'][$index]"
    />
  </mat-form-field>
  <button (click)="exampleImages()[$index].reload()" class="image">
    @if (exampleImages()[$index].isLoading()) {
    <div class="skeleton"></div>
    } @else {
    <img src="{{ exampleImages()[$index].value() }}" />
    }
  </button>
  }
</div>
} }
