@let loading = cardService.isLoading; @let card = cardService.card.value; @let
word = cardService.word; @let wordType = cardService.wordType; @let gender =
cardService.gender; @let translation = cardService.translation; @let forms =
cardService.forms; @let examples = cardService.examples; @let
examplesTranslations = cardService.examplesTranslations; @let exampleImages =
cardService.exampleImages; @let selectedExampleIndex =
cardService.selectedExampleIndex; @if (loading()) {
<mat-spinner class="page-loading" />
} @else {
<div class="top-actions">
  <a mat-icon-button [routerLink]="['/sources', cardService.selectedSourceId(), 'page', cardService.selectedPageNumber()]" aria-label="Go back">
    <mat-icon>arrow_back</mat-icon>
  </a>
</div>
<h2 class="title">
  Word @if (card()) {
  <button
    mat-icon-button
    color="red"
    (click)="confirmDeleteCard()"
    aria-label="Delete card"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button type="button" mat-flat-button (click)="updateCard()">Update</button>
  } @else {
  <button type="button" mat-flat-button (click)="createCard()">Create</button>
  }
</h2>
<div class="word">
  <mat-form-field class="field">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="wordType" aria-label="Word type">
      @for (option of wordTypeOptions; track option.type) {
      <mat-option [value]="option.type">
        <span class="word-type-option" [style.background-color]="option.color">
          {{ option.translation }}
        </span>
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (wordType() === 'NOUN') {
  <mat-form-field class="field">
    <mat-label>Gender</mat-label>
    <mat-select [(ngModel)]="gender" aria-label="Gender">
      @for (option of genderOptions; track option.gender) {
      <mat-option [value]="option.gender">
        <span class="word-type-option" [style.background-color]="option.color">
          {{ option.translation }}
        </span>
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  }
</div>
<div class="word">
  <mat-form-field class="field">
    <mat-label>German</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="word"
      aria-label="German translation"
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Hungarian</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="translation['hu']"
      aria-label="Hungarian translation"
    />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Swiss German</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="translation['ch']"
      aria-label="Swiss German translation"
    />
  </mat-form-field>
</div>
<h2>Forms</h2>
<div class="forms">
  @for (form of forms(); track $index) {
  <mat-form-field class="field">
    <input matInput type="text" [(ngModel)]="form" aria-label="Form" />
  </mat-form-field>
  }
</div>
<h2>Examples</h2>
<mat-radio-group [(ngModel)]="selectedExampleIndex">
  @for (example of examples(); track $index) { @let images =
  exampleImages()[$index];
  <div class="example">
    <div class="actions">
      <mat-radio-button [value]="$index"></mat-radio-button>
      <button
        mat-icon-button
        (click)="addImage($index)"
        aria-label="Add example image"
        [disabled]="areImagesLoading($index)"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>
    <mat-form-field class="field">
      <mat-label>German</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="example"
        aria-label="Example in German"
      />
    </mat-form-field>
    @if(examplesTranslations(); as examplesTranslations) {
    <mat-form-field class="field">
      <mat-label>Hungarian</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="examplesTranslations['hu'][$index]"
        aria-label="Example in Hungarian"
      />
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Swiss German</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="examplesTranslations['ch'][$index]"
        aria-label="Example in Swiss German"
      />
    </mat-form-field>
    <div class="image">
      @if (images && images.length) { @let imageResource =
      images[exampleImageCarouselIndices()[$index]]; @let url =
      imageResource?.value()?.url; @if(!imageResource) {
      <mat-icon>image_not_supported</mat-icon>
      } @else if(imageResource.isLoading()) {
      <div class="skeleton"></div>
      } @else if (url) {
      <img [src]="url" [alt]="example()" />
      <div
        class="image-overlay"
        [class.image-overlay-favorite]="imageResource.value()?.isFavorite"
      >
        <button
          mat-icon-button
          (click)="
            toggleFavorite($index, exampleImageCarouselIndices()[$index])
          "
          aria-label="Toggle favorite"
          [color]="imageResource.value()?.isFavorite ? 'warn' : ''"
          [attr.aria-pressed]="imageResource.value()?.isFavorite"
        >
          <mat-icon>{{
            imageResource.value()?.isFavorite ? "favorite" : "favorite_border"
          }}</mat-icon>
        </button>
      </div>
      } @else {
      <mat-icon>image_not_supported</mat-icon>
      }

      <div class="carousel-controls">
        <button
          mat-icon-button
          (click)="prevImage($index)"
          [disabled]="
            images.length < 2 || exampleImageCarouselIndices()[$index] === 0
          "
          aria-label="Previous image"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <span class="carousel-indicator">
          {{ exampleImageCarouselIndices()[$index] + 1 }} /
          {{ images.length }}
        </span>
        <button
          mat-icon-button
          (click)="nextImage($index)"
          [disabled]="
            images.length < 2 ||
            exampleImageCarouselIndices()[$index] === images.length - 1
          "
          aria-label="Next image"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      }
    </div>
    }
  </div>
  }
</mat-radio-group>
}
