@if (wordsService.hasWordsWithoutCards() && !bulkCreationService.isCreating()) {
  <button
    mat-fab
    extended
    color="primary"
    class="bulk-create-fab vocabulary-fab"
    (click)="startBulkCreation()"
    [disabled]="bulkCreationService.isCreating()"
    aria-label="Create vocabulary cards in bulk"
  >
    <mat-icon>add_circle</mat-icon>
    Create {{ wordsService.wordsWithoutCardsCount() }} Vocabulary Cards
  </button>
}
@if (hasSelectedText() && !bulkCreationService.isCreating()) {
  <button
    mat-fab
    extended
    color="accent"
    class="bulk-create-fab grammar-fab"
    (click)="startGrammarCardCreation()"
    [disabled]="bulkCreationService.isCreating()"
    aria-label="Create grammar card"
  >
    <mat-icon>edit_note</mat-icon>
    Create Grammar Card
  </button>
}
