name: Pipeline

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: any
  cancel-in-progress: true

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: test/package-lock.json
      - name: Install dependencies
        working-directory: test
        run: npm ci
      - name: Install Playwright browsers
        working-directory: test
        run: npx playwright install chromium --with-deps
      - name: Setup test environment and start Docker Compose
        run: scripts/compose_up.sh
      - name: Run Playwright tests
        working-directory: test
        run: npx playwright test --shard=${{ matrix.shard }}/5
      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-results-shard-${{ matrix.shard }}
          path: test/test-results
      - run: docker compose logs
        if: always()

  publish-server-image:
    runs-on: ubuntu-latest
    needs: test-e2e
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: "pip"
      - run: pip install -r requirements.txt

      - run: python scripts/publish_images.py "${{ secrets.GITHUB_TOKEN }}" "${{ secrets.ANSIBLE_VAULT_KEY }}"
