name: Update dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '7 0 * * 1'

concurrency:
  group: any
  cancel-in-progress: true

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write # Requires also "Allow GitHub Actions to create and approve pull requests" to be enabled in the repository settings
      issues: write
      statuses: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: "pip"
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'server/pom.xml'
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: test/package-lock.json
      - env:
          LOG_LEVEL: debug
        run: npx renovate --token ${{ secrets.GITHUB_TOKEN }} --platform github --autodiscover
